.purchasebtn{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 20px 50px;
}

.purchasebtnL{
    background-color: transparent;
    border: 1px solid black;
    color: black;
    padding: 20px 50px;
}