* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  background-color: yellow;
  border: 1px solid black;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 350px;
  height: 220px; */
}

body {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}

.container {
  gap: 20px;
  margin: auto;
  max-width: 1300px;
  display: grid;
  background-color: gray;
  height: 700px;
  width: 700px;
  align-items: center;
  justify-content: center;
}

.box1 {
  grid-column: 1/4;
}

.box2 {
  padding: 150px 50px;
  /* grid-row: 2/4; */
  grid-area: 2 / 1 / span 2 /span 1 ;
}

.box3 {
  grid-column: 2/4;
}

.box6 {
  grid-column: 1/4;
}
