

.inputMain{
    margin-top: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    justify-content: center;
    background-color: #1F2A48;
    max-width: 800px;
    margin: auto;
}

input{
    background-color: #1F2A48;
    border-radius: 8px;
    border: 1px solid black;
    max-width: 700px;
    width: 100%;
    padding: 20px 0;
    border: none;
    outline: none;
    margin: 0 20px;
}

button{
    border-radius: 8px;
    border: none;
    background-color: #0478FF;
    color: white;
    width: 100px;
    margin: 10px;
}